/*
	Color fondo: black;
	Color header: black;
	Color borde: 0F362D;
	Color iluminado: black;
*/
body{
	background-color: #FFFFFF;
	font-family: Arial;
}

#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: #819FF7;
	text-align: center;
	width: 100%;
	border-collapse: separate;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #ff8000;
	border-bottom: solid 5px #0F362D;
	color: black;
	font-weight: bold;
}

tr:nth-child(even){
	background-color: #CEECF5;
}

button {
	border-radius: 500px;
	margin-left: 50px;
}
